body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

a {
    color: #5840ff;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    border-bottom: 2px solid #000;
    padding: 0 0 10px 0;
    text-align: center;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
    font-size: 30px;
}

#content {
    float: left;
    width: 55%;
    padding: 0 0 0 80px;
    margin-right: 20px;
}

#sidebar {
    float: right;
    width: auto;
    padding: 22px;
    background: #efefef;
    height: auto;
    line-height: 1.5;
}

h3.sidebar-title {
    margin-top: 80px;
}

p.date {
    color: lightslategrey;
    font-family: georgia, serif;
}

.pagination {
    margin: 40px 0;
    font-weight: bold;
    text-align: center;
}

label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

ul {
    list-style-type: square;
}

li {
    padding: 10px 0;
}

@media (max-width: 1185px) {
    #sidebar {
        display: none;
    }
}